---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    groups:
      github-actions:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    groups:
      gomod:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
